@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.products__list {
	list-style: none;
	padding: $padding;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(14.0625rem, 1fr));
	gap: 2rem;

	@include tablet {
		padding: 1.25rem $tablet-padding;
		flex: 0.8;
		max-height: 90vh;
		overflow-y: auto;
	}

	@include desktop {
		padding: 1.25rem $desktop-padding;
	}
}

.products__item {
	display: flex;
	justify-content: center;
}
