@use "../../styles/partials/variables" as *;

.wishlistProduct-card {
	border: $component-border;
	border-radius: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 40px;
	overflow: hidden;

	gap: 20px;
	max-width: 250px;
	height: 400px;

	&__image {
		width: 100%;
		margin-bottom: 15px;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	&__name {
		font-weight: 400;
		font-size: 14px;
		margin: 0;
		max-height: 66px;
		overflow: auto;
	}

	&__brand {
		color: $secondary-ash;
		font-family: "TBJMaltaMiniEdition";
		text-transform: uppercase;
		align-self: flex-end;
		font-size: 20px;
	}

	&__icon {
		width: 25px;

		&:hover {
			cursor: pointer;
		}
	}
}
