@use "../../styles/partials/variables" as *;

.wishlist {
	&__list {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		list-style: none;
		gap: 2rem;
		margin: 0;
		padding: 2.5rem $desktop-padding;
		max-height: 90vh;
		overflow-y: auto;
	}
}
