@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography";

.userForm-container {
	border: $separator-border;
	width: 100%;
	display: flex;
	position: relative;
	margin: -5rem 0 0 -3.875rem;

	.userForm__image-wrapper {
		background-color: $primary-pink;
		width: 3.875rem;
		border-right: $separator-border;
	}

	.userForm__form-container {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding: 50px;
		gap: 1.5rem;
	}

	.userForm {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		&__field {
			border: 1.5px solid $primary-black;
			border-radius: 1.875rem;
			padding: 0.5rem 1rem;
			width: 350px;
			font-size: 1rem;

			&:active,
			&:focus {
				border-color: $primary-black;
				outline: none;
			}

			&::placeholder {
				color: $secondary-ash;
				font-size: 1rem;
			}

			&--error {
				border-color: $secondary-pink;
			}
		}

		&__button-container {
			display: flex;
			justify-content: space-between;
		}

		&__link {
			display: flex;
			text-decoration: none;
			color: $secondary-ash;
			text-transform: uppercase;
			align-items: center;
			gap: 10px;
			padding: 0.5rem;

			&:hover {
				border: 0.5px solid $secondary-ash;
				border-radius: 1.875rem;
			}

			&-name {
				color: $secondary-ash;
				font-family: "TBJMaltaMiniEdition";
				font-size: 1.375rem;
				margin-top: 4px;
			}
		}

		&__icon-wrapper {
			display: flex;
			justify-content: center;
			width: 2.7188rem;
			height: 2.7188rem;
			border-radius: 50%;
			background-color: $primary-pink;
			border: $separator-border;

			&:hover {
				background-color: $secondary-pink;
			}
		}

		&__icon {
			width: 1.3rem;

			&--left {
				width: 1rem;
			}
		}

		&__button {
			border: none;
			background-color: $primary-white;
			padding: 0;

			&:hover {
				cursor: pointer;
			}
		}

		&--error {
			color: $secondary-pink;
			font-size: 0.8125rem;
		}

		&__message {
			position: absolute;
			bottom: 5.75rem;
			margin: 0;
			font-size: 0.8125rem;

			&--success {
				color: $status-green;
			}

			&--error {
				color: $status-red;
			}
		}
	}
}
