@use "./variables" as *;
@use "./mixins" as *;
@use "./typography";

* {
	box-sizing: border-box;
	font-family: "BodoniModa"; //add backup serif font
	color: $primary-black;
	margin: 0;
	padding: 0;
}

body {
	background-color: $primary-pink;
}

h1 {
	font-family: "TBJMaltaMiniEdition";
	font-size: $h1-font-size;
	text-transform: uppercase;
	font-weight: 600;

	@include tablet {
		font-size: $tablet-h1-font-size;
	}
}
