@use "./variables" as *;
@use "./typography";

* {
	box-sizing: border-box;
	font-family: "DMSans"; //add backup
	color: $primary-black;
}

body {
	margin: 0;
	background-color: $primary-pink;
	padding: 15px;
}
