//Colors
$primary-white: #fffdfd;
$primary-pink: #fdbad8;
//$primary-pink: #fbc1d4; //original
$primary-black: #282828;
//$primary-black: #1e1e1e  //original
$secondary-pink: #ff7ec4;
$secondary-ash: #949494;
$secondary-grey: #dfdfdf;
$secondary-green: #003d2e;
$secondary-light-green: #3e893d;

$status-red: #f04438;
$status-green: #12b76a;
$status-orange: #f79009;

//font-size
$h1-font-size: 2.1875rem;

//screen sizes
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//padding
$padding: 1rem;
$tablet-padding: 2rem;
$desktop-padding: 3rem;

//borders
$separator-border: 1.5px solid $primary-black;
$component-border: 0.5px solid $primary-black;
