//Colors
$primary-white: #fffdfd;
$primary-pink: #ffc2d1;
//$primary-pink: #fbc1d4;
$primary-black: #282828;
//$primary-black: #1e1e1e  //original
$secondary-pink: #ff7ec4;
$secondary-ash: #949494;
$secondary-grey: #dfdfdf;
$secondary-green: #003d2e;
$secondary-light-green: #4d776d;

$status-red: red;
$status-green: green;
$status-orange: orange;

//font-size
$h1-font-size: 3.125rem;

//padding
$desktop-padding: 3.5rem;

//borders
$separator-border: 1.5px solid $primary-black;
$component-border: 0.5px solid $primary-black;
