@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.deleteModal {
	position: fixed;
	inset: 0;
	z-index: 600;
	background-color: rgba($primary-pink, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: $padding;

	&-container {
		background-color: $primary-white;
		padding: 3rem 2rem 1rem;
		width: 80vw;
		border: $separator-border;
		position: relative;

		@include tablet {
			padding: 3.75rem 3.75rem 1.875rem;
			width: 60vw;
			max-width: 53.125rem;
		}
	}

	&-content {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	&__title {
		text-transform: none;

		span {
			font-style: italic;
			font-family: inherit;
			font-size: inherit;
		}
	}

	&__button {
		margin-top: 1rem;
		align-self: flex-end;
		background-color: $primary-pink;
		border: $component-border;
		padding: 0.25rem 1rem;
		border-radius: 1.125rem;
		font-size: 1rem;

		&:hover {
			background-color: $secondary-pink;
			cursor: pointer;
		}
	}

	&__icon {
		position: absolute;
		width: 1.25rem;
		top: 1rem;
		right: 1rem;

		@include tablet {
			width: 1.5625rem;
			top: 1.5625rem;
			right: 1.5625rem;
		}

		&:hover {
			cursor: pointer;
		}
	}
}
