@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.editProduct {
	padding-top: $header-height; //accommodate for header
	min-height: 100vh;
	background-color: $primary-pink;
	display: flex;
	flex-direction: column;
}
