@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.editProduct {
	padding-top: $header-height;
	min-height: 100vh;

	&__form-container {
		padding: 3.125rem 18.75rem;
	}
}
