@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.homepage {
	padding-top: $header-height;
	min-height: 100vh;
	background-color: $primary-pink;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	&__slogan {
		display: flex;
		flex-direction: column;
		align-items: center;

		&-title {
			font-family: "BodoniModa";
			font-size: 2.25rem;

			@include tablet {
				font-size: 2.75rem;
			}

			@include desktop {
				font-size: 3.5rem;
			}

			&--accent {
				font-family: "ImperialScript";
				text-transform: capitalize;
				display: block;
				color: $secondary-light-green;
				font-size: 3.5rem;
				position: relative;
				top: -2.3rem;

				@include tablet {
					font-size: 4rem;
					top: -2.9rem;
				}

				@include desktop {
					font-size: 5.5rem;
					top: -3.75rem;
				}
			}
		}
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover {
			.homepage__sticker {
				transform: scale(1.3);
			}
		}
	}

	&__sticker-container {
		position: absolute;
		inset: 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	&__sticker-wrapper {
		position: relative;
		width: clamp(9.375rem, 40vw, 16.25rem);

		&--products {
			top: 0;
			left: 0%;

			@include tablet {
				left: -7%;
			}

			@include desktop {
				left: -20%;
			}
		}

		&--wishlist {
			top: -8%;
			left: 5%;

			@include tablet {
				top: -5%;
				left: -5%;
			}

			@include desktop {
				top: -15%;
				left: -10%;
			}
		}

		&--add {
			right: 5%;
			bottom: -15%;

			@include tablet {
				right: -8%;
			}

			@include desktop {
				right: -15%;
			}
		}

		&--about {
			width: clamp(10.625rem, 45vw, 18.125rem);
			top: 5%;

			@include tablet {
				left: 5%;
				top: 8%;
			}

			@include desktop {
				top: 15%;
			}
		}
	}

	&__sticker-text {
		font-family: "TBJMaltaMiniEdition";
		text-transform: uppercase;
		font-size: clamp(1.25rem, 5.5vw, 2.25rem);
		font-weight: 600;
		position: absolute;
		display: block;
		top: 40%;

		&--products {
			transform: rotate(-25deg);
			top: 35%;
			left: 27%;
		}

		&--wishlist {
			transform: rotate(13deg);
			left: 27%;
			top: 43%;
		}

		&--add {
			transform: rotate(20deg);
			left: 28%;

			@include tablet {
				top: 42%;
			}
		}

		&--about {
			left: 35%;
			transform: rotate(-5deg);
		}
	}

	&__sticker {
		width: 100%;
		height: auto;

		&--wishlist {
			transform: rotate(6deg);
		}
	}
}
