@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;

.form-container {
	display: flex;
	border: 1px solid $primary-black;

	.form__image-wrapper {
		background-color: $primary-pink;
		width: 62px;
	}

	.form {
		display: flex;
		flex-direction: column;
		border-left: 1px solid black;
		padding: 65px 70px 30px;
		position: relative;
		flex: 1;

		&--error {
			color: $secondary-pink;
			font-size: 13px;
			position: absolute;
			left: 10px;
			bottom: -20px;
		}

		&__label {
			font-family: "TBJMaltaMiniEdition";
			font-size: 25px;
			width: 100px;
			text-transform: capitalize;
		}

		&__icon {
			width: 20px;
			&--cross {
				position: absolute;
				top: 20px;
				right: 20px;
			}

			&:hover {
				cursor: pointer;
			}
		}

		&__input-container {
			display: flex;
			gap: 30px;
			margin-bottom: 32px;
			align-items: center;
		}

		&__field-wrapper {
			position: relative;
			flex: 1;
			display: flex;
		}

		&__field {
			border: 1.5px solid $secondary-grey;
			border-radius: 30px;
			padding: 0.3rem 1rem;
			flex: 1;

			&:active,
			&:focus {
				border-color: $primary-black;
				outline: none;
			}

			&--error {
				border-color: $secondary-pink;
			}

			&::placeholder {
				font-family: "BodoniModa";
				color: $secondary-ash;
				font-size: 16px;
			}
		}

		&__option {
			text-transform: capitalize;
		}

		&__button-container {
			align-self: flex-end;
			display: flex;
			align-items: center;

			&:hover {
				cursor: pointer;
			}
		}

		&__button {
			border: none;
			background-color: $primary-white;
		}

		&__button-content {
			//gap: 5px;
			background-color: pink;
			width: 40px;
			height: 40px;
			display: flex;
			justify-content: center;
			border-radius: 50%;

			&--active {
				padding: 0.5rem 1rem;
				gap: 5px;
				border-radius: 30px;
				width: unset;
				height: unset;
			}

			&:hover {
				background-color: $secondary-pink;
			}
		}

		&__button-text {
			font-size: 16px;
		}
	}
}
