@use "../../styles/partials/variables" as *;

.filter {
	border-right: $separator-border;

	&__reset {
		margin-top: 0.625rem;
		padding-left: $desktop-padding;
		font-family: "TBJMaltaMiniEdition";
		font-size: 1.5625rem;
		color: $secondary-pink;

		&:hover {
			cursor: pointer;
		}
	}
}
