@use "../../styles/partials/variables" as *;

.filter {
	border-right: $component-border;

	&__reset {
		margin-top: 10px;
		padding-left: $desktop-padding;
		font-family: "TBJMaltaMiniEdition";
		font-size: 25px;
		color: $secondary-pink;

		&:hover {
			cursor: pointer;
		}
	}
}
