@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.filter {
	border-bottom: $separator-border;

	@include tablet {
		flex: 0.2;
		flex-shrink: 0;
		border-bottom: none;
		border-right: $separator-border;
	}

	&__reset {
		border: 0;
		background-color: transparent;
		padding: $padding;
		font-family: "TBJMaltaMiniEdition";
		font-size: 1.375rem;
		color: $secondary-pink;

		&:hover {
			cursor: pointer;
		}

		@include tablet {
			padding-left: $tablet-padding;
			font-size: 1.5625rem;
		}

		@include desktop {
			padding-left: $desktop-padding;
		}
	}
}
