@use "../../styles/partials/variables" as *;

.pageHeader {
	border-bottom: $separator-border;
	padding: 1rem $desktop-padding 0.5rem;
	background-color: $primary-pink;

	&__title {
		font-weight: 600;
	}
}
