@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/mixins" as *;

.authForm-container {
	border: $separator-border;
	width: 100%;
	max-width: 31.25rem;
	display: flex;
	flex-direction: column;
	position: relative;

	@include tablet {
		flex-direction: row;
		max-width: 40rem;
	}

	.authForm__image-wrapper {
		background-color: $primary-pink;
		height: 3.875rem;
		border-bottom: $separator-border;

		@include tablet {
			height: unset;
			width: 3.875rem;
			border-bottom: 0;
			border-right: $separator-border;
		}
	}

	.authForm__form-container {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 3rem 1.5rem;
		gap: 1.5rem;

		@include tablet {
			padding: 3rem;
		}
	}

	.authForm {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		width: 100%;
		max-width: 21.875rem;

		&__field {
			border: $separator-border;
			border-radius: 1.875rem;
			padding: 0.5rem 1rem;
			width: 100%;
			font-size: 1rem;

			&:active,
			&:focus {
				border-color: $primary-black;
				outline: none;
			}

			&::placeholder {
				color: $secondary-ash;
				font-size: 1rem;
			}

			&--error {
				border-color: $secondary-pink;
			}
		}

		&__button-container {
			display: flex;
			justify-content: space-between;
		}

		&__link {
			display: flex;
			text-decoration: none;
			color: $secondary-ash;
			text-transform: uppercase;
			align-items: center;
			gap: 0.625rem;
			padding: 0.5rem;
			border: 0.5px solid $primary-white;
			border-radius: 1.875rem;

			&:hover {
				border-color: $secondary-ash;
			}

			&-name {
				color: $secondary-ash;
				font-family: "TBJMaltaMiniEdition";
				font-weight: 600;
				font-size: 1.25rem;
				margin-top: 4px;

				@include tablet {
					font-size: 1.5rem;
				}
			}
		}

		&__icon {
			width: 1.3rem;

			&--left {
				width: 1rem;
			}
		}

		&__button {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 2.7188rem;
			height: 2.7188rem;
			border-radius: 50%;
			background-color: $primary-pink;
			border: $separator-border;

			&:hover {
				background-color: $secondary-pink;
				cursor: pointer;
			}
		}

		&--error {
			color: $secondary-pink;
			font-size: 0.8125rem;
		}

		&__message {
			position: absolute;
			bottom: 5.75rem;
			margin: 0;
			font-size: 0.8125rem;

			&--success {
				color: $status-green;
			}

			&--error {
				color: $status-red;
			}
		}
	}
}
