@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography";

.header {
	background-color: $primary-pink;
	border-bottom: $separator-border;
	padding: 1rem $desktop-padding;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&--white {
		background-color: $primary-white;
	}

	&__link {
		text-decoration: none;
		color: $primary-black;

		&--logo {
			margin-right: -5rem;
		}
	}

	&__icon {
		width: 1.5625rem;

		&:hover {
			cursor: pointer;
		}
	}

	&__logo {
		font-family: "Halimun";
		font-size: 1.5625rem;
	}

	&__icon-container {
		display: flex;
		gap: 2.5rem;
	}
}
