@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography";

.header {
	background-color: $primary-pink;
	border-bottom: $separator-border;
	padding: 0.7rem $desktop-padding;

	&--white {
		background-color: $primary-white;
	}

	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		&__link {
			text-decoration: none;
			color: $primary-black;

			&--logo {
				position: absolute;
				left: 0;
				right: 0;
				text-align: center;
			}
		}

		&__icon {
			width: 1.5625rem;

			&:hover {
				cursor: pointer;
			}
		}

		&__icon-container {
			display: flex;
			gap: 2.5rem;
		}

		&__icon-wrapper {
			border-radius: 50%;
			width: 45px;
			height: 45px;
			display: flex;
			justify-content: center;
			position: relative;

			&:hover {
				background-color: $secondary-pink;
			}
		}
		&__logo {
			font-family: "Halimun";
			font-size: 1.5625rem;
		}

		&__notification-status {
			width: 0.7rem;
			height: 0.7rem;
			border-radius: 50%;
			background-color: $status-green;
			position: absolute;
			right: 10px;
			top: 10px;
			border: 1px solid black;
		}
	}
}

.profile {
	position: absolute;
	background-color: $primary-white;
	z-index: 1;
	border: 1.5px solid $primary-black;
	border-radius: 7px;
	top: 48px;
	width: max-content;

	&__link {
		text-decoration: none;
	}

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__item {
		padding: 8px;
		border-bottom: 1.5px solid $primary-black;
		text-align: center;

		&:hover {
			cursor: pointer;
		}
	}

	li:last-child {
		border-bottom: none;
	}
}
