@use "../../styles/partials/variables" as *;

.login {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $primary-white;
	padding: 85px 300px;
}
