@use "../../styles/partials/variables" as *;

.filter-card {
	width: 20vw;
	min-width: min-content;

	&__name {
		margin: 0;
		font-family: "TBJMaltaMiniEdition";
		text-transform: capitalize;
		font-size: 1.5625rem;
		font-weight: 600;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		border-bottom: 0.0938rem solid $secondary-grey;
		padding: 1.25rem $desktop-padding;
		gap: 5px;

		&:hover {
			cursor: pointer;
		}
	}

	&__icon {
		width: 0.9375rem;
	}

	&__list {
		padding: 0 0 0 $desktop-padding;
		list-style: none;
		display: flex;
		flex-flow: row wrap;
		margin: 1.25rem 1.25rem 2.5rem 0;
		gap: 1.25rem;
	}

	&__list-item {
		text-transform: capitalize;
		border: $component-border;
		padding: 0.125rem 0.625rem;
		border-radius: 0.9375rem;
		font-size: 0.875rem;

		&:hover {
			background-color: $secondary-pink;
			cursor: pointer;
		}

		&--selected {
			background-color: $primary-pink;
		}
	}
}
