@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.filter-card {
	border-bottom: 1.5px solid $secondary-grey;

	@include tablet {
		width: 20vw;
		min-width: min-content;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		padding: 1rem $padding;
		gap: 5px;

		@include tablet {
			padding: 1.25rem $tablet-padding;
		}

		@include desktop {
			padding: 1.25rem $desktop-padding;
		}

		&:hover {
			cursor: pointer;
		}
	}

	&__name {
		font-family: "TBJMaltaMiniEdition";
		text-transform: capitalize;
		font-size: 1.375rem;
		font-weight: 600;

		@include tablet {
			font-size: 1.5625rem;
		}
	}

	&__icon {
		width: 0.8125rem;
		transition: transform 0.5s ease;

		@include tablet {
			width: 0.9375rem;
		}

		&--flip {
			transform: rotate(180deg);
		}
	}

	&__list {
		padding: 0.625rem 0.625rem 1.25rem $padding;
		list-style: none;
		display: flex;
		flex-flow: row wrap;
		gap: 1rem;

		@include tablet {
			padding: 1.25rem 1.25rem 2.5rem $tablet-padding;
		}

		@include desktop {
			padding-left: $desktop-padding;
		}
	}

	&__list-item {
		text-transform: capitalize;
		border: $component-border;
		border-color: $secondary-pink;
		padding: 0.125rem 0.5rem;
		border-radius: 0.9375rem;
		font-size: 0.875rem;

		@include tablet {
			font-size: 0.9375rem;
			padding: 0.125rem 0.625rem;
		}

		&:hover {
			background-color: $secondary-pink;
			cursor: pointer;
		}

		&--selected {
			background-color: $primary-pink;
		}
	}
}
