@use "../../styles/partials/variables" as *;

.status {
	text-transform: capitalize;
	display: flex;
	align-items: center;
	gap: 0.375rem;

	&--red {
		color: $status-red;
	}

	&--green {
		color: $status-green;
	}

	&--orange {
		color: $status-orange;
	}

	&__icon {
		width: 0.625rem;
		height: 0.625rem;
		border-radius: 50%;

		&--red {
			background-color: $status-red;
		}

		&--green {
			background-color: $status-green;
		}

		&--orange {
			background-color: $status-orange;
		}
	}
}
