@use "../../styles/partials/variables" as *;

.wishlist {
	&__title {
		text-align: center;
		font-size: $h1-font-size;
		font-weight: 400;
	}
	&__list {
		display: flex;
		//gap: 50px;
		flex-wrap: wrap;
	}
}
