@use "../../styles/partials/variables" as *;

.wishlist {
	&__list {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		list-style: none;
		gap: 50px;
		margin: 0;
		padding: 40px $desktop-padding;
	}
}
