@use "../../styles/partials/variables" as *;

.productDetails {
	border: $separator-border;

	&__header {
		display: flex;
		justify-content: space-between;
		background-color: $primary-pink;
		border-bottom: $separator-border;
		padding: 1rem 2rem;
	}

	&-content {
		padding: 2.5rem 2.5rem 1.5rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	&-container {
		display: flex;
		gap: 6.25rem;
	}

	&__info-container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		flex: 1;
	}

	&__info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid $secondary-grey;
		padding-bottom: 0.8rem;
	}

	&__title {
		font-family: "TBJMaltaMiniEdition";
		margin: 0;
		text-transform: uppercase;
		color: $secondary-ash;
		font-size: 1.25rem;
	}

	&__description {
		text-transform: capitalize;

		&--red {
			color: $status-red;
		}

		&--green {
			color: $status-green;
		}

		&--orange {
			color: $status-orange;
		}
	}

	&__image-wrapper {
		display: flex;
		padding: 5rem 2.5rem;
		border-radius: 12.5rem;
		overflow: hidden;

		&--red {
			border: 1.5px solid $status-red;
		}

		&--green {
			border: 1.5px solid $status-green;
		}

		&--orange {
			border: 1.5px solid $status-orange;
		}
	}

	&__image {
		width: 12.5rem;
		align-self: center;
	}

	&__icon {
		width: 1.5625rem;
	}

	&__button-container {
		align-self: flex-end;
		display: flex;
		align-items: center;
		gap: 2.5rem;
	}

	&__wishlist {
		font-size: 0.875rem;

		&:hover {
			cursor: pointer;
		}
		&--added {
			color: $status-green;
		}
	}

	&__button {
		border: $component-border;
		background-color: $primary-pink;
		padding: 0.25rem 1rem;
		border-radius: 1.125rem;
		font-size: 0.875rem;

		&:hover {
			cursor: pointer;
			background-color: $secondary-pink;
		}
	}
}
