@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.products {
	min-height: 100vh;
	padding-top: $header-height; //accommodate for header
	background-color: $primary-pink;
	display: flex;
	flex-direction: column;

	&-wrapper {
		flex: 1;
		display: flex;
		flex-direction: column;
		border-bottom: $separator-border;
		background-color: $primary-white;

		@include tablet {
			flex-direction: row;
		}
	}

	&__error {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		padding: 0 1rem;

		&-message {
			text-align: center;
		}

		&--bold {
			font-weight: 800;
		}

		&-button {
			background-color: $primary-pink;
			border: $component-border;
			padding: 0.25rem 1rem;
			border-radius: 1.125rem;
			font-size: 1rem;
			text-transform: capitalize;
			width: max-content;

			&:hover {
				background-color: $secondary-pink;
				cursor: pointer;
			}
		}
	}
}
