@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.signUp {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $primary-white;
	padding: 0 $padding;

	@include tablet {
		padding: 0 $tablet-padding;
	}
	@include desktop {
		padding: 0 $desktop-padding;
	}
}
