@use "../../styles/partials/variables" as *;

.homepage {
	background-color: $primary-pink;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 6.25rem;

	&__slogan {
		display: flex;
		flex-direction: column;
		align-items: center;

		&-title {
			font-family: "BodoniModa";
			font-size: 50px;

			&--accent {
				text-transform: capitalize;
				font-family: "ImperialScript";
				display: block;
				color: $secondary-light-green;
				font-size: 70px;
				position: relative;
				top: -40px;
			}
		}
	}

	&__link {
		text-decoration: none;
		color: $primary-black;

		&:hover {
			.homepage__sticker {
				transform: scale(1.3);
			}
		}
	}

	&__sticker-container {
		position: absolute;
		top: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		gap: 3.125rem;

		&--one {
			left: 0.625rem;
		}

		&--two {
			right: 0.625rem;
		}
	}

	&__sticker-wrapper {
		position: relative;

		&--inventory {
			left: 9.375rem;
			top: 0.625rem;
		}

		&--wishlist {
			left: 7.5rem;
			bottom: 0.625rem;
		}

		&--about {
			right: 6.25rem;
		}
		&--add {
			right: 3.125rem;
			top: 0.625rem;
		}
	}

	&__sticker-text {
		font-family: "TBJMaltaMiniEdition";
		text-transform: uppercase;
		font-size: 2.5rem;
		position: absolute;
		display: block;
		top: 40%;

		&--inventory {
			transform: rotate(-25deg);
			top: 35%;
			left: 25%;
		}

		&--wishlist {
			transform: rotate(9deg);
			left: 28%;
		}

		&--add {
			transform: rotate(25deg);
			left: 22%;
		}

		&--about {
			left: 38%;
			transform: rotate(-5deg);
		}
	}

	&__sticker {
		width: 16.25rem;

		&--about {
			width: 20rem;
		}

		&--wishlist {
			transform: rotate(5deg);
		}
	}
}
