@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.notFound {
	min-height: 100vh;
	padding: 0 $padding;
	display: flex;
	justify-content: center;
	align-items: center;

	@include tablet {
		padding: 0 $tablet-padding;
	}

	@include desktop {
		padding: 0 $desktop-padding;
	}

	&-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__status {
		display: flex;
		align-items: baseline;
		gap: 0.625rem;
	}

	&__status-text {
		display: block;
		font-family: "TBJMaltaMiniEdition";
		font-weight: 800;
		font-size: 12.5rem;

		@include tablet {
			font-size: 18.75rem;
		}
	}

	&__icon {
		width: 8.75rem;

		@include tablet {
			width: 12.5rem;
		}
	}

	&__message {
		font-size: 1rem;
		margin-top: -1rem;
		text-align: center;

		@include tablet {
			font-size: 1.25rem;
			margin-top: -2rem;
		}
	}

	&__button {
		margin-top: 1.25rem;
		background-color: $primary-pink;
		border: $component-border;
		padding: 0.25rem 1rem;
		border-radius: 1.125rem;
		font-size: 1rem;
		text-transform: capitalize;

		&:hover {
			background-color: $secondary-pink;
			cursor: pointer;
		}
	}
}
